<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bodan.sulbingrecipe">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_main"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sulbingrecipe">
        <activity
            android:name=".BeveragerecipeActivity"
            android:exported="false" />
        <activity
            android:name=".DessertrecipeActivity"
            android:exported="false" />
        <activity
            android:name=".SulbingrecipeActivity"
            android:exported="false" />
        <activity
            android:name=".UsedateActivity"
            android:exported="false" />
        <activity
            android:name=".BeverageActivity"
            android:exported="false" />
        <activity
            android:name=".DessertActivity"
            android:exported="false" />
        <activity
            android:name=".SulbingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>